<style>
  .no-wrap {
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    width: 100%;
    word-break: break-word; 
  }

.card-text {
  font-size: 1.8rem;    
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.col-md-3 {
  flex: 1;
}
  
  </style>
<div class="card mt-6">
  <div class="card-body">
    <div class="row">

      <div class="col-md-3">
        <div class="card bg-primary">
          <div class="card-body">
            <h5 class="card-title">Quantidade de produtos</h5>
            <p class="card-text text-white font-weight-bold display-6 no-wrap">{{ product_metrics.total_quantity }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-danger">
          <div class="card-body">
            <h5 class="card-title">Custo do estoque</h5>
            <p class="card-text text-white font-weight-bold display-6 no-wrap">R$ {{ product_metrics.total_cost_price | default:"0,00" }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-success">
          <div class="card-body">
            <h5 class="card-title">Valor do estoque</h5>
            <p class="card-text text-white font-weight-bold display-6 no-wrap">R$ {{ product_metrics.total_selling_price }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-warning">
          <div class="card-body">
            <h5 class="card-title">Lucro do estoque</h5>
            <p class="card-text text-white font-weight-bold display-6 no-wrap">R$ {{ product_metrics.total_profit }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>